<div tabindex="-1" id="search-input-fixed-container">
  <label tabindex="-1" for="search-input-fixed">
    <input tabindex="-1" type="text" name="search-input-fixed" id="search-input-fixed" placeholder="<%=$t.buttons.search%>...">
    <i class="fa fa-search"></i>
  </label>
</div>