<%- include("code/head", {title, $t}) %>
<body>
    <a href="/tasks" id="atras"><i class="fa fa-arrow-left"></i></a>
    <div id="container-404">
        <img src="assets/notfound.gif" alt="image" id="image-404">
    </div>
</body>
</html>
