<link rel="stylesheet" type="text/css" href="css/appbar.css">
<div id="appbar">
  <div id="appbar-drag">
    <img id="appbar-logo" src="assets/task-logo.png" alt="App Logo">
    <span id="appbar-title"><%=$t.titles[title]%></span>
  </div>
  <div id="appbar-icons-container">
    <div class="appbar-icon" id="appbar-minimize" route="minimize"><i class="fa fa-window-minimize"></i></div>
    <div class="appbar-icon" id="appbar-maximize" route="maximize"><i style="width: 100%;" class="fa fa-window-maximize"></i></div>
    <div id="closeapp" class="appbar-icon" route="close"><i class="fa fa-xmark"></i></div>
  </div>
</div>
