<div id="app-modal-overlay" class="app-modal-overlay">
  <div id="app-modal" class="app-modal">
      <div class="app-modal-header">
          <h2 id="app-modal-title"></h2>
          <span class="app-modal-close" onclick="hideAlert()">&times;</span>
      </div>
      <hr class="app-modal-divider">
      <div class="app-modal-body">
          <p id="app-modal-message"></p>
      </div>
      <div class="app-modal-footer">
          <button class="btn" onclick="hideAlert()">OK</button>
      </div>
  </div>
</div>